@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "NAMU-Pro";
  src: url("fonts/NAMU-Pro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "CooperOriginal";
  src: url("fonts/18941.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*Header*/
.container {
  max-width: 1290px;
  margin: 0px auto;
  padding: 20px 8px;
}

header {
  background-color: #C1DB81;
  width: 100%;
  top: 0;
  left: 0;
}
header .header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .text {
  font-family: "Alegreya", serif;
  font-size: 31px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 4px;
}
header .header__nav {
  font-size: 23px;
}
header .nav__link_enter {
  background-color: #169BD5;
  border: none;
  padding: 8px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  border-radius: 5px;
  color: #FFFFFF;
  vertical-align: top;
  margin: 0 30px;
}
header .nav__link_reg {
  background-color: #fff;
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  border-radius: 5px;
  color: #C1DB81;
  vertical-align: top;
}

main {
  background-color: #C1DB81;
  /* Option */
  /* Check */
  /* Checked */
  /* Focused */
}
main .container {
  background: #fff;
  /* Цвет фона */
  color: #fff;
  /* Цвет текста */
  padding-top: 10px;
  /* Поля вокруг текста */
  padding-bottom: 30px;
  border-radius: 29px;
  /* Уголки */
}
main #box {
  margin-top: 60px;
  display: flex;
  position: relative;
  left: 200px;
  width: 850px;
  /* Длина фигуры */
  height: 470px;
  /* Высота фигуры */
  background: #C1DB81;
  /* фон блока */
  border: 3px #C1DB81 solid;
  /* стили рамки */
  /* закругление для старых Mozilla Firefox */
  /* закругл. для старых Chrome и Safari */
  /* закругл. для браузера Konquerer системы Linux */
  border-radius: 30px;
  /* закругление углов для всех, кто понимает */
  padding: 5px;
  /* внутренние отступы */
}
main #box .proposition__items h1 {
  margin-top: 30px;
  color: black;
  margin-bottom: 30px;
  font-family: "NAMU-Pro";
  color: #fff;
  font-size: 33px;
  font-weight: inherit;
  margin-left: 30px;
}
main #box .proposition__items .list {
  position: relative;
  color: #000;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
main #box .proposition__items .list .list__items {
  margin-right: 310px;
}
main #box .proposition__items .list li {
  left: 70px;
  margin: 0 0 40px 50px;
  position: relative;
  padding: 0 0 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-style: italic;
  color: #fff;
}
main #box .proposition__items .list li:before {
  content: "";
  margin-top: -5px;
  margin-right: 30px;
  background: url("fonts/2.png") 0 0 no-repeat;
  width: 80px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -50px;
}
main #box .proposition__items .list li:nth-child(2):before {
  margin-top: 3px;
}
main #box .proposition__items .save a img {
  margin-top: 20px;
  max-width: 23%;
  margin-left: 60px;
}
main #box .proposition__items .phone {
  top: 15px;
  max-width: 110%;
  position: relative;
  right: 100px;
}
main .our_company .container_company {
  max-width: 1180px;
  margin: 0px auto;
  padding: 20px 8px;
}
main .our_company h2 {
  margin-top: 100px;
  color: #191919;
  font-family: "NAMU-Pro";
  font-size: 33px;
  margin-bottom: 25px;
  font-weight: 700;
}
main .our_company h3 {
  color: #191919;
  font-family: "NAMU-Pro";
  font-size: 25px;
  margin-bottom: 70px;
  font-weight: 700;
}
main .our_company .cities {
  display: flex;
  margin-bottom: 60px;
  position: relative;
  left: 60px;
}
main .our_company .list_cities {
  position: relative;
  margin-left: 190px;
  font-weight: bold;
  font-family: "NAMU-Pro";
}
main .our_company .list_cities:first-child {
  margin-left: 0;
}
main .our_company .list_cities p {
  color: #191919;
  font-size: 22px;
  margin-bottom: 20px;
}
main .map h2 {
  text-align: center;
  color: #191919;
  font-family: "NAMU-Pro";
  font-size: 33px;
  margin-bottom: 50px;
}
main .choose_city {
  color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main .choose_city p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  position: relative;
  top: 5px;
  color: #797979;
  position: relative;
  right: 20px;
}
main .select-css {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  width: 50%;
  padding: 2px 0px 2px 10px;
  max-width: 25%;
  position: relative;
  left: 20px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #888888;
  border-radius: 1em;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
main .select-css::-ms-expand {
  display: none;
}
main .select-css:hover {
  border-color: #169BD5;
}
main .select-css:focus {
  border-color: #169BD5;
}
main .select-css option {
  font-weight: normal;
}
main .settings_maps {
  margin-left: 30px;
  margin-top: 80px;
}
main .settings_maps h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #191919;
  margin-bottom: 20px;
  font-weight: 700;
}
main .setting_maps_item a {
  color: #fff;
  font-size: 32px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-left: 20px;
  left: -10px;
  margin-bottom: 50px;
}
main .setting_maps_item {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #191919;
  font-weight: 700;
}
main .setting_maps_item p {
  margin-bottom: 30px;
  margin-right: 70px;
}
main .show_item {
  margin-top: 20px;
}
main .setting_maps_item input {
  margin-top: 20px;
  position: relative;
  margin-left: -50px;
}
main .map img {
  max-width: 100%;
  position: relative;
  left: 35px;
  top: 55px;
  border-radius: 20px;
}
main .option {
  display: block;
  margin-bottom: 0.5em;
}
main .check__input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}
main .check__box {
  position: absolute;
  margin-top: 10px;
  margin-left: 140px;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4A90E2;
}
main .check__box:nth-child(2) {
  left: 50px;
}
main .check__input:checked + .check__box {
  background-color: #4A90E2;
}
main .check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #4A90E2, 0 0 0 0.2em #7ED321;
}

footer {
  background-color: #C1DB81;
  padding: 30px 40px 10px 40px;
}
footer .footer_text {
  font-family: "Alegreya", serif;
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 1px;
}
footer .footer_links img {
  max-width: 4%;
  margin-left: 10px;
}
footer .social {
  display: flex;
}
footer .social_text {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: #fff;
  white-space: nowrap;
  position: relative;
  top: 5px;
}
footer .social_links {
  margin-left: 10px;
}
footer .footer__info {
  display: flex;
  justify-content: space-between;
}
footer .footer_text {
  white-space: nowrap;
}

main {
  text-align: center;
}
main .enter h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 70px;
  color: #000;
  text-align: center;
}
main .enter input[type=text], main .enter input[type=password] {
  width: 500px;
  height: 45px;
  font-size: 18px;
  border: 2px solid #c5c4c4;
  margin-bottom: 25px;
  border-radius: 20px;
  padding-left: 35px;
}
main .enter .btn__sumbit {
  font-family: "Alegreya", serif;
  font-weight: 500;
  padding: 10px 0px;
  text-align: center;
  margin: 5px 0 10px 0;
  font-size: 19px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #169BD5;
  border: none;
  cursor: pointer;
}
main .enter .btn__sumbit:hover {
  transition: all 0.5s;
  background-color: #0d407a;
}
main .enter a {
  color: #000;
  text-decoration: underline;
}
main .enter .password:before {
  font-family: "Alegreya", serif;
  content: "🔒";
  color: #D7D7D7;
  position: absolute;
  font-size: 22px;
  margin-top: 12px;
  margin-left: 10px;
}
main .enter .login:before {
  font-family: "Alegreya", serif;
  content: "👤";
  position: absolute;
  font-size: 22px;
  color: #D7D7D7;
  margin-top: 14px;
  margin-left: 10px;
}
main .enter .enter__with {
  margin-top: 100px;
  margin-bottom: 140px;
}
main .enter .enter__with .enter__with__items {
  display: flex;
  margin-left: 463px;
  margin-bottom: 20px;
}
main .enter .enter__with p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  position: relative;
  top: 8px;
  color: #000;
}
main .enter .enter__with p a {
  text-decoration: none;
}
main .enter .enter__with img {
  position: relative;
  top: -5px;
  margin-right: 30px;
  max-width: 5%;
}
main .enter .another__way {
  margin-bottom: 50px;
  margin-right: 10px;
}
main .enter .another__way h4 {
  color: #575656;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
}
main .enter .another__way a {
  color: #575656;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}
main .enter .reg__with {
  margin-top: -10px;
  margin-bottom: 30px;
}
main .enter .reg__with .reg__with__items {
  display: flex;
  margin-left: 500px;
  margin-bottom: 20px;
}
main .enter .reg__with p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  position: relative;
  top: -3px;
  color: #000;
}
main .enter .reg__with p a {
  text-decoration: none;
}
main .enter .reg__with img {
  position: relative;
  top: -5px;
  margin-right: 30px;
  max-width: 5%;
}
main .enter input[type=email] {
  width: 500px;
  height: 45px;
  font-size: 18px;
  border: 2px solid #c5c4c4;
  margin-bottom: 25px;
  border-radius: 20px;
  padding-left: 35px;
}
main .enter input[type=phone] {
  width: 500px;
  height: 45px;
  font-size: 18px;
  border: 2px solid #c5c4c4;
  margin-bottom: 40px;
  border-radius: 20px;
  padding-left: 35px;
}
main .enter .country__ch {
  margin-top: -12px;
  margin-bottom: 30px;
  display: block;
  font-size: 16px;
  border: 2px solid #b6b6b6;
  width: 500px;
  height: 45px;
  position: relative;
  left: 390px;
  box-sizing: border-box;
  padding-left: 35px;
  color: #797979;
  border-radius: 20px;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
main .enter .select-css::-ms-expand {
  display: none;
}
main .enter .select-css option {
  font-weight: normal;
}
main .enter .birthday h3 {
  font-family: "NAMU-Pro";
  color: #1f1e1e;
  font-size: 19px;
  margin-bottom: 20px;
  margin-right: 350px;
}
main .enter .birthday select {
  padding: 10px 5px;
  font-family: "NAMU-Pro";
  color: #1f1e1e;
  font-size: 16px;
  width: 10%;
  border: 2px solid #c5c4c4;
  margin-bottom: 30px;
  border-radius: 20px;
  margin-right: 27px;
  margin-left: 27px;
}

header .text {
  font-family: "Alegreya", serif;
  font-size: 31px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 4px;
}
header .change_info {
  font-family: "Alegreya", serif;
  background-color: #C1DB81;
  border: none;
  font-weight: 500;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 5px;
  color: #FFFFFF;
  vertical-align: top;
  position: relative;
}
header .exit_profile {
  font-family: "Alegreya", serif;
  background-color: #169BD5;
  border: none;
  font-weight: 500;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  border-radius: 5px;
  color: #fff;
  vertical-align: top;
}

main #box__profile {
  margin-top: 60px;
  display: flex;
  position: relative;
  left: 150px;
  width: 1000px;
  /* Длина фигуры */
  height: 450px;
  /* Высота фигуры */
  background: #e6e5e5;
  /* фон блока */
  border: 3px #e6e5e5 solid;
  /* стили рамки */
  /* закругление для старых Mozilla Firefox */
  /* закругл. для старых Chrome и Safari */
  /* закругл. для браузера Konquerer системы Linux */
  border-radius: 30px;
  /* закругление углов для всех, кто понимает */
  padding: 5px;
  /* внутренние отступы */
}
main #box__profile .profile__info {
  display: flex;
  justify-content: space-between;
}
main #box__profile .profile__info .info__items .title p {
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #414141;
  font-family: "NAMU-Pro";
  font-size: 32px;
}
main #box__profile .profile__info .info__items .person p {
  text-align: start;
  margin-left: 60px;
  margin-bottom: 40px;
  color: #2e2d2d;
  font-family: "NAMU-Pro";
  font-size: 25px;
}
main #box__profile .profile__info .info__items .star {
  text-align: start;
  margin-top: 90px;
  margin-left: 20px;
}
main #box__profile .profile__info .info__items .star p {
  color: #2e2d2d;
  margin-bottom: 85px;
  font-size: 22px;
}
main #box__profile .profile__info .info__items .definetly {
  flex-direction: column;
  margin-left: 140px;
  margin-top: 80px;
}
main #box__profile .profile__info .info__items .definetly a {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  background-color: #C1DB81;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 22px;
  font-weight: 500;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 0 0 5px #CAF982;
  border: 1px solid #C1DB81;
}
main .definetly__info {
  width: 1100px;
  margin-bottom: 60px;
  margin-left: 160px;
  margin-top: 50px;
}
main .definetly__info p {
  color: #2e2d2d;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: start;
}
main .definetly__info p a {
  color: #4A90E2;
  text-decoration: underline;
}
main .notes {
  margin-left: 200px;
  margin-top: 40px;
  width: 950px;
  color: #2e2d2d;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: start;
}
main .notes a {
  color: #4A90E2;
  text-decoration: underline;
}